{% load static %}<!--使用static-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.4.1.min.js'  %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}" type="text/javascript"></script>
    <!--    <link rel="stylesheet" href="{% static 'bootstrap/css/shards.min.css' %}"> 阴影-->
    <link href="{% static 'qiubin/spec.css' %}" rel="stylesheet">
    {% block head_extend %}{% endblock %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
<body>
<div class="row" style="user-select:none;color:rgba(255,255,255,0)"><!--彩旗-->
    <span class="flag col" style="background-color:#80B5A2">b</span>
    <span class="flag col" style="background-color:#D55A5A">b</span>
    <span class="flag col" style="background-color:#FEBD12">b</span>
    <span class="flag col" style="background-color:#27AE60">b</span>
    <span class="flag col" style="background-color:#6E0482">b</span>
    <span class="flag col" style="background-color:#DC7200">b</span>
    <span class="flag col" style="background-color:#52BAD5">b</span>
    <span class="flag col" style="background-color:#FF5EAA">b</span>
    <span class="flag col" style="background-color:#FFD900">b</span>
    <span class="flag col" style="background-color:#137795">b</span>
    <span class="flag col" style="background-color:#223546">b</span>
    <span class="flag col" style="background-color:#1CFBA6">b</span>
</div>

<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto  mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'note_list' %}">全部</a>
        </li>
        <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'new_note' %}"><i class="fa fa-pencil-square-o"></i>新建</a>
            {% else %}
            {% endif %}
        </li>
    </ul>
    <ul class="navbar-nav  mt-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width:100%">
                  <a class="dropdown-item" href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a>
<!--                  <a class="dropdown-item" href="#">预留</a>-->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'user_info' %}">设置</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item" >
                <a class="nav-link" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
            </li>
        {% endif %}
        <li class="nav-item" >
            <a class="nav-link" href="{% url 'register' %}">注册</a>
        </li>
    </ul>
</nav>
{% block content %}{% endblock %}
{% block script_extends %}{% endblock %}
</body>
</html>