{% load static %}<!--使用static-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'qiubin/login.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <center>
        <div class="col-xl-4"
        ">
        <div class="card">
            <div class="card-body">
                <form method="post" action="">
                    <h4 class="card-title text-center" style="color:white;margin-bottom:40px;">软件升级管理系统</h4>
                    {% csrf_token %}
<!--                    {% for field in login_form %}-->
<!--                    {{ field }}-->
<!--                    <p class="text-danger">{{ field.errors.as_text }}</p>-->
<!--                    {% endfor %}-->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><li class="fa fa-user"></li></span>
                      </div>
                      <input name="username" type="text" class="form-control" placeholder="用户名" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><li class="fa fa-lock"></li></span>
                        </div>
                      <input name="password" type="password" class="form-control" placeholder="密码" aria-label="Password" aria-describedby="basic-addon2">
                    </div>
                    <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                    <button type="submit" class="btn btn-success pull-right">登录</button>
                </form>
            </div>
        </div>
</div>
</center>

</div>
</body>
</html>