{% extends 'base.html'  %}
{% block title %}
{{ note_section.section }}
{% endblock %}
{% block content %}
<div class="container">
    <div style="margin-left:15px;margin-bottom: 0px">
        <h4>{{ note_section.section }}中一共有{{ notes|length }}篇升级</h4>
    </div>
    <div class="row">
        <div class="col-xl-10">
            <div class="card">
                <div class="card">
                    <div class="card-body">
                        {% for note in page_of_notes.object_list %}
                        <h5 class="card-title">{{ note.title }}</h5>
                        <svg class="bi bi-tag-fill" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                             xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                                  fill-rule="evenodd"/>
                        </svg>&nbsp;
                        <a href="{% url 'notes_with_section' note.author.section.pk %}">{{ note.author.section }}</a>&nbsp;&nbsp;<svg
                            class="bi bi-clock-fill" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                              fill-rule="evenodd"/>
                    </svg>&nbsp;{{ note.time|date:"Y-m-d" }}
                        <p class="card-text">{{ note.content|striptags|truncatechars:100 }}</p>
                        <a class="card-link" href="{% url 'note_detail' note.pk %}">详细信息</a>
                        <hr>
                        {% empty %}
                        <p>暂无升级！</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                {# 分页器 #}
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        {% if page_of_notes.has_previous %}
                        <a class="page-link" href="?page={{page_of_notes.previous_page_number}}">上一页</a>
                        {% else %}
                        <span aria-hidden="true"></span>
                        {% endif %}
                    </li>
                    {% for page_num in page_range %}
                    {% if page_num == page_of_notes.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                    {% else %}
                    {% if page_num == '···' %}
                    <li class="page-item"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <li class="page-item">
                        {% if page_of_notes.has_next %}
                        <a class="page-link" href="?page={{page_of_notes.next_page_number}}">下一页</a>
                        {% else %}
                        <a aria-hidden="true"></a>
                        {% endif %}
                    </li>
                </ul>
                <p style="text-align:center;">一共有{{ notes|length }}篇升级，当前第{{ page_of_notes.number }}页，共{{ page_of_notes.paginator.num_pages }}页</p>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">升级分类</h5>
                    <ul class="fa-ul card-text" style="margin-left: 0;">
                        {% for note_section in note_sections %}
                        <li><i class="fa fa-tag"><a href="{% url 'notes_with_section' note_section.pk %}"
                                                    style="font-size:13px;">&nbsp;{{ note_section.section }}</a></i>
                        </li>
                        {% empty %}
                        <li>暂无分类！</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">日期归档</h5>
                    <ul class="fa-ul card-text" style="margin-left: 0;">
                        {% for note_date in note_dates %}
                        <li><i class="fa fa-clock-o"><a
                                href="{% url 'notes_with_time' note_date.year note_date.month %}"
                                style="font-size:13px;">&nbsp;{{ note_date|date:"Y年m月" }}</a></i>
                        </li>
                        {% empty %}
                        <li>暂无分类！</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}