{% extends 'base.html'  %}
{% load static %}<!--使用static-->
{% block title %}
{{ note.title }}
{% endblock %}
{% block head_extend %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock head_extend %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-10">
            <div class="card">
                <h3>{{ note.title }}</h3>
                <p>{{ note.content|safe }}</p>
                <p>版本：{{ note.version }}</p>
                <p>负责人：{{ note.author }}</p>
                <p>升级时间：{{ note.time|date:"Y-m-d" }}</p>
                <p>
                    <svg class="bi bi-tag-fill" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                              fill-rule="evenodd"/>
                    </svg>
                    <a href="{% url 'notes_with_section' note.section.pk %}">{{ note.section }}</a></p>
                <p>附件：<a download="{{ note.annex }}" href="{{note.annex.upload_to }}">{{ note.annex }}</a></p>
            </div>
            <div class="card">
                <p>上一篇：
                    {% if previous_note %}
                    <a href="{% url 'note_detail' previous_note.pk %}">{{ previous_note.title }}</a>
                    {% else %}
                    没有了
                    {% endif %}
                </p>
                <p>下一篇：
                    {% if next_note %}
                    <a href="{% url 'note_detail' next_note.pk %}">{{ next_note.title }}</a>
                    {% else %}
                    没有了
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">升级分类</h5>
                    <ul class="fa-ul card-text" style="margin-left: 0;">
                        {% for note_section in note_sections %}
                        <li><i class="fa fa-tag"><a href="{% url 'notes_with_section' note_section.pk %}"
                                                    style="font-size:13px;">&nbsp;{{ note_section.section }}</a></i>
                        </li>
                        {% empty %}
                        <li>暂无分类！</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">日期归档</h5>
                    <ul class="fa-ul card-text" style="margin-left: 0;">
                        {% for note_date in note_dates %}
                        <li><i class="fa fa-clock-o"><a
                                href="{% url 'notes_with_time' note_date.year note_date.month %}"
                                style="font-size:13px;">&nbsp;{{ note_date|date:"Y年m月" }}</a></i>
                        </li>
                        {% empty %}
                        <li>暂无分类！</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-xl-10">
        <div class="comment-area">
            <h3 class="comment-area-title">提交审批</h3>
            {% if user.is_authenticated %}
                <form id="comment_form" action="{% url 'submit_comment' %}" method="post" style="overflow:hidden;">{# overflow:hidden form到父级#}
                    <label>{{ user.username }}已登录</label>
                    <div id="reply_content_container" style="display: none;">
                    	<p>回复：</p>
                    	<div id="reply_content"></div>
                    </div>
                    {% csrf_token %}
                    {% for field in comment_form %}
                        {{ field }}
                    {% endfor %}
                    <span id="comment_error" class="text-danger pull-left"></span>
                    <input type="submit" value="发布" class="btn btn-primary btn-sm pull-right">
                </form>
            {% else %}
                未登录，登录方可审批
                <a class="btn btn-success" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                <span>或</span>
                 <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
            {% endif %}
        </div>
        <div class="comment-area">
            <h3 class="comment-area-title">历史记录</h3>
            <div id="comment_list">
                {% for comment in comments%}
                <div id="root_{{ comment.pk }}" class="comment">
                    <span>{{ comment.user.username }}</span>
                    <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})</span>
                <div id="comment_{{ comment.pk }}">
                	{{ comment.content|safe }}
                </div>
                <a href="javascript:reply({{ comment.pk }})">回复</a>
                {% for reply in comment.root_comment.all %}
                    <div class="reply">
                        <span>{{ reply.user.username }}</span>
                        <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                        <span> 回复 </span>
                        <span>{{ reply.parent_name.username }}:</span>
                        <div id="comment_{{ reply.pk }}">
		                	{{ reply.content|safe }}
		                </div>
                        <a href="javascript:reply({{ reply.pk }})"> 回复 </a>
                    </div>
                {% endfor %}
                </div>
                {% empty %}
                <span id="no_comment">暂无记录!</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extends %}
<!--ajax代码,异步提交-->
<script type="text/javascript">
    $("#comment_form").submit(function(){
        //判断是否为空
        $("#comment_error").text('');
        if (CKEDITOR.instances['id_content'].document.getBody().getText().trim()==''){
            //错误信息
            $("#comment_error").text('审批意见不能为空！');
            return false;
        }
        //数据更新到textarea
        CKEDITOR.instances['id_content'].updateElement();
        //异步提交
        $.ajax({
            url:"{% url 'submit_comment' %}",
            type:"POST",
            data:$(this).serialize(),
            cache:false,
            success:function(data){
                console.log(data);
                //插入数据
                if (data['status']=="SUCCESS"){
                    if($("#reply_comment_id").val()=='0'){
                        //插入审批意见
                        var comment_html='<div id="root_'+data['pk']+'" class="comment"><span>'+data['username']+'</span><span>('+data['comment_time']+'):</span><div id="comment_'+data['pk']+'">'+data['content']+'</div><a href="javascript:reply('+data['pk']+')">回复</a></div>';
                        $("#comment_list").prepend(comment_html);
                    }else{
                        //插入回复
                        var reply_html='<div class="reply"><span>'+data['username']+'</span><span>('+data['comment_time']+')</span><span> 回复 </span><span>'+data['parent_name']+'</span><div id="comment_'+data['pk']+'">'+data['content']+'</div><a href="javascript:reply('+data['pk']+')">回复</a></div>';
                        $("#root_"+data['root_pk']).append(reply_html);
                    }
                    //清空编辑框内容
                    CKEDITOR.instances['id_content'].setData('');
                    $("#reply_content_container").hide();
                    $("#reply_comment_id").val('0');
                    $("#no_comment").remove();
                }else{
                    //错误信息
                    $("#comment_error").text(data['message']);
                    }
            },
            error:function(xhr){
                console.log(xhr);
            },
        });
        return false;
    });
    function reply(reply_comment_id){
    	$("#reply_comment_id").val(reply_comment_id);
    	var html=$("#comment_"+reply_comment_id).html();
    	$("#reply_content").html(html);
    	$("#reply_content_container").show();
    	$("html").animate({scrollTop:$("#comment_form").offset().top - 60},300,function(){
    		CKEDITOR.instances["id_content"].focus();
    	});
    }
</script>
{% endblock %}